# –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –Ω–∞–¥—ë–∂–Ω–æ—Å—Ç–∏ –∑–∞—ë–º—â–∏–∫–æ–≤

–ó–∞–∫–∞–∑—á–∏–∫ ‚Äî –∫—Ä–µ–¥–∏—Ç–Ω—ã–π –æ—Ç–¥–µ–ª –±–∞–Ω–∫–∞. –ù—É–∂–Ω–æ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è, –≤–ª–∏—è–µ—Ç –ª–∏ —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –∫–ª–∏–µ–Ω—Ç–∞ –Ω–∞ —Ñ–∞–∫—Ç –ø–æ–≥–∞—à–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫. –í—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ—Ç –±–∞–Ω–∫–∞ ‚Äî —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –æ –ø–ª–∞—Ç—ë–∂–µ—Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤.

–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –±—É–¥—É—Ç —É—á—Ç–µ–Ω—ã –ø—Ä–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–∏ –º–æ–¥–µ–ª–∏ **–∫—Ä–µ–¥–∏—Ç–Ω–æ–≥–æ —Å–∫–æ—Ä–∏–Ω–≥–∞** ‚Äî —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã, –∫–æ—Ç–æ—Ä–∞—è –æ—Ü–µ–Ω–∏–≤–∞–µ—Ç —Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç—å –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ–≥–æ –∑–∞—ë–º—â–∏–∫–∞ –≤–µ—Ä–Ω—É—Ç—å –∫—Ä–µ–¥–∏—Ç –±–∞–Ω–∫—É.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ó–¥–æ—Ä–æ–≤–æ, –∫–æ–≥–¥–∞ –µ—Å—Ç—å –≤—Å—Ç—É–ø–ª–µ–Ω–∏–µ –≤ —Å–∞–º –ø—Ä–æ–µ–∫—Ç, –∫–∞–∂–¥—ã–π —Å–º–æ–∂–µ—Ç –±—ã—Å—Ç—Ä–µ–µ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è —Å —Ç–µ–º –æ —á–µ–º —Å–∞–º –ø—Ä–æ–µ–∫—Ç. 

</div>

## –®–∞–≥ 1. –û—Ç–∫—Ä–æ–π—Ç–µ —Ñ–∞–π–ª —Å –¥–∞–Ω–Ω—ã–º–∏ –∏ –∏–∑—É—á–∏—Ç–µ –æ–±—â—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é

In [1]:
import pandas as pd
data = pd.read_csv('/datasets/data.csv')
data.head(15)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,-4024.803754,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,-5623.422610,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,-4124.747207,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
5,0,-926.185831,27,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763.565419,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
6,0,-2879.202052,43,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525.971920,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
7,0,-152.779569,50,–°–†–ï–î–ù–ï–ï,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823.934197,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
8,2,-6929.865299,35,–í–´–°–®–ï–ï,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856.832424,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,-2188.756445,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425.938277,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏
10,2,-4171.483647,36,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,113943.491460,–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
11,0,-792.701887,40,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,77069.234271,–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
12,0,NaN,65,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,NaN,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
13,0,-1846.641941,54,–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ,2,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,130458.228857,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
14,0,-1844.956182,56,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,1,165127.911772,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏

**–í—ã–≤–æ–¥**

–í –¥–∞–Ω–Ω—ã—Ö –µ—Å—Ç—å –Ω—É–∂–Ω—ã–µ –º–µ—Ç—Ä–∏–∫–∏, –ø–æ–¥—Ö–æ–¥—è—â–∏–µ –¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –≥–∏–ø–æ—Ç–µ–∑—ã.
–í –¥–∞–Ω–Ω—ã—Ö –µ—Å—Ç—å –º—É—Å–æ—Ä (–ø—Ä–æ–ø—É—Å–∫–∏, –¥—É–±–ª–∏–∫–∞—Ç—ã –∏ –æ—à–∏–±–æ—á–Ω–æ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è).

## –®–∞–≥ 2. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

### –û–±—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤

In [2]:
#–ø–æ—Å–º–æ—Ç—Ä–∏–º —Å–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –ø–æ –∫–æ–ª–æ–Ω–∫–∞–º
data.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

–ü—Ä–æ–ø—É—Å–∫–∏ –µ—Å—Ç—å –≤ –∫–æ–ª–æ–Ω–∫–∞—Ö days_employed –∏ total_income.
–ö–æ–ª–æ–Ω–∫–∞ days_employed –Ω–∞–º –Ω–µ –Ω—É–∂–Ω–∞ –¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –≥–∏–ø–æ—Ç–µ–∑, —Ç–∞–∫ —á—Ç–æ –≤ –Ω–µ–π –ø—Ä–æ–ø—É—Å–∫–∏ –º–æ–∂–Ω–æ –Ω–µ –∑–∞–º–µ–Ω—è—Ç—å.

In [3]:
# –¥–ª—è —ç–∫–æ–Ω–æ–º–∏–∏ –º–µ—Å—Ç–∞ –æ—Ç–±—Ä–æ—Å–∏–º –∑–Ω–∞–∫–∏ –¥–æ 1 –ø–æ—Å–ª–µ –∑–∞–ø—è—Ç–æ–π –∏ –∑–∞–æ–¥–Ω–æ –∏–∑–±–∞–≤–∏–º—Å—è –æ—Ç –ª–æ–∂–Ω–æ –æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
# –≤ –∫–æ–ª–æ–Ω–∫–µ days_employed
data['days_employed'] = abs(data['days_employed'])
data['days_employed'] = round(data['days_employed'], 1)

data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.7,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,4024.8,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,5623.4,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,4124.7,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.1,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–û—Ç–ª–∏—á–Ω—ã–π —Å–ø–æ—Å–æ–± –ø—Ä–∏–º–µ–Ω–∏—Ç—å –º–µ—Ç–æ–¥—ã –∫–æ –≤—Å–µ–º—É —Å—Ç–æ–ª–±—Ü—É –¥–∞–Ω–Ω—ã—Ö üëç

</div>

In [4]:
# —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å, —á–µ–º –∑–∞–º–µ–Ω—è—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏, –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞—Å–∫–æ–ª—å–∫–æ –±–æ–ª—å—à–æ–π —Ä–∞–∑–±—Ä–æ—Å –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ total_income
# –Ω–∞–π–¥–µ–º –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ
data['total_income'].max()

2265604.028722744

In [5]:
# –Ω–∞–π–¥–µ–º –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ
data['total_income'].min()

20667.26379327158

–°—Ä–∞–≤–Ω–∏–ª–∏ –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏—è.
–†–∞–∑–Ω–∏—Ü–∞ –±–æ–ª—å—à–µ —á–µ–º –≤ 10 —Ä–∞–∑, –ø–æ—ç—Ç–æ–º—É –±—É–¥–µ–º –∑–∞–º–µ–Ω—è—Ç—å –º–µ–¥–∏–∞–Ω–æ–π.

In [6]:
# –Ω–∞–π–¥–µ–º –º–µ–¥–∏–∞–Ω—ã –ø–æ —Ä–∞–∑–Ω—ã–º –≥—Ä—É–ø–ø–∞–º income_type
data.groupby('income_type')['total_income'].median()

income_type
–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π        131339.751676
–≤ –¥–µ–∫—Ä–µ—Ç–µ           53829.130729
–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π        150447.935283
–∫–æ–º–ø–∞–Ω—å–æ–Ω          172357.950966
–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä          118514.486412
–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å    499163.144947
—Å–æ—Ç—Ä—É–¥–Ω–∏–∫          142594.396847
—Å—Ç—É–¥–µ–Ω—Ç             98201.625314
Name: total_income, dtype: float64

In [7]:
# –∑–∞–º–µ–Ω–∏–º –ø—Ä–æ–ø—É—Å–∫–∏ –¥–ª—è –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ income_type —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–µ–π –º–µ–¥–∏–∞–Ω–æ–π
data['total_income'] = data.groupby('income_type')['total_income'].apply(lambda x: x.fillna(x.median()))
data.head(15)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.7,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,4024.8,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,5623.4,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,4124.7,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.1,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
5,0,926.2,27,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763.565419,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
6,0,2879.2,43,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525.971920,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
7,0,152.8,50,–°–†–ï–î–ù–ï–ï,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823.934197,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
8,2,6929.9,35,–í–´–°–®–ï–ï,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856.832424,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,2188.8,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425.938277,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏
10,2,4171.5,36,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,113943.491460,–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
11,0,792.7,40,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,77069.234271,–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
12,0,NaN,65,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,118514.486412,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
13,0,1846.6,54,–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ,2,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,130458.228857,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
14,0,1845.0,56,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–∫–æ–º–ø–∞–Ω—å–æ–Ω,1,165127.911772,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–û—á–µ–Ω—å —Ö–æ—Ä–æ—à–æ, —á—Ç–æ –º—ã –∑–∞–ø–æ–ª–Ω—è–µ–º –ø—Ä–æ–ø—É—Å–∫–∏ –∏—Å—Ö–æ–¥—è –∏–∑ –Ω–∞—à–∏—Ö –≥—Ä—É–ø–ø –≤ –¥–∞–Ω–Ω—ã—Ö.
    
–¢–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º –º—ã —Ç–æ—á–µ—á–Ω–æ –ø–æ–≤—ã—à–∞–µ–º –Ω–∞—à—É –¥–∏—Å–ø–µ—Ä—Å–∏—é.

</div>

In [8]:
# –ø—Ä–æ–≤–µ—Ä–∏–º —Å–Ω–æ–≤–∞ –Ω–∞–ª–∏—á–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤
data.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income           0
purpose                0
dtype: int64

**–í—ã–≤–æ–¥**

–ü—Ä–æ–ø—É—Å–∫–∏ –≤ –∫–æ–ª–æ–Ω–∫–µ —Å –æ–±—â–∏–º –¥–æ—Ö–æ–¥–æ–º —Å–∏–Ω—Ö—Ä–æ–Ω–Ω—ã —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏ –≤ –∫–æ–ª–æ–Ω–∫–µ —Å—Ç–∞–∂–∞.
–î–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –≥–∏–ø–æ—Ç–µ–∑ –Ω–∞–º –Ω–µ –ø–æ–Ω–∞–¥–æ–±—è—Ç—Å—è –¥–∞–Ω–Ω—ã–µ —Å—Ç–∞–∂–∞, —Ç–∞–∫ —á—Ç–æ –ø—Ä–æ–ø—É—Å–∫–∏ –∑–∞–º–µ–Ω–µ–Ω—ã —Ç–æ–ª—å–∫–æ –≤ –¥–∞–Ω–Ω—ã—Ö –æ–±—â–µ–≥–æ –¥–æ—Ö–æ–¥–∞.
–ò–∑ –∑–∞ –¥–æ–≤–æ–ª—å–Ω–æ –±–æ–ª—å—à–æ–≥–æ —Ä–∞–∑–±—Ä–æ—Å–∞ –∑–Ω–∞—á–µ–Ω–∏–π, –ø—Ä–æ–ø—É—Å–∫–∏ –∑–∞–º–µ–Ω–∏–ª–∏ –º–µ–¥–∏–∞–Ω–æ–π. 
–ú–µ–¥–∏–∞–Ω—É –ø–æ—Å—á–∏—Ç–∞–ª–∏ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ç–∏–ø–∞ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏(–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä—ã/—Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∏/–≥–æ—Å—Å–ª—É–∂–∞—â–∏–µ –∏ —Ç–¥), —á—Ç–æ–±—ã —É–º–µ–Ω—å—à–∏—Ç—å –ø–æ–≥—Ä–µ—à–Ω–æ—Å—Ç—å.

### –ó–∞–º–µ–Ω–∞ —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö

In [9]:
data.info() #—Å–º–æ—Ç—Ä–∏–º –∫–∞–∫–∏–µ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö —Å–æ–¥–µ—Ä–∂–∞—Ç—Å—è

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [10]:
# –∑–∞–º–µ–Ω–∏–º –¥–∞–Ω–Ω—ã–µ –≤ —Å—Ç–æ–ª–±—Ü–µ total_income –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–µ, –º–µ—Ç–æ–¥–æ–º astype()
data['total_income'] = data['total_income'].astype('int')
data.head(15)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  int64
 11  purpose           21525 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 2.0+ MB

**–í—ã–≤–æ–¥**

–ù–∞–º –Ω–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –∑–Ω–∞—Ç—å –¥–æ—Ö–æ–¥ –≤–ø–ª–æ—Ç—å –¥–æ –º–∏–ª–ª–∏–æ–Ω–Ω–æ–π –¥–æ–ª–∏ —Ä—É–±–ª—è, —Ç–∞–∫ —á—Ç–æ –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –¥–∞–Ω–Ω—ã–µ –≤ —Å—Ç–æ–ª–±—Ü–µ –æ–±—â–µ–≥–æ –¥–æ—Ö–æ–¥–∞ –∑–∞–º–µ–Ω–∏–ª–∏ –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–µ.

### –û–±—Ä–∞–±–æ—Ç–∫–∞ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤

In [11]:
# –ø—Ä–∏–≤–æ–¥–∏–º –¥–∞–Ω–Ω—ã–µ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É –º–µ—Ç–æ–¥–æ–º str.lower() –≤ –∫–æ–ª–æ–Ω–∫–∞—Ö, –≥–¥–µ –µ—Å—Ç—å —Ç–µ–∫—Å—Ç
data['education'] = data['education'].str.lower() 
data['family_status'] = data['family_status'].str.lower() 
data['gender'] = data['gender'].str.lower()
data['income_type'] = data['income_type'].str.lower()
data['purpose'] = data['purpose'].str.lower()
data.head(15)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.7,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,f,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,4024.8,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,f,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,5623.4,33,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,m,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,4124.7,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,m,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.1,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,f,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
5,0,926.2,27,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,m,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,255763,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
6,0,2879.2,43,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,f,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,240525,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º
7,0,152.8,50,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,m,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,135823,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
8,2,6929.9,35,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,f,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,95856,–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã
9,0,2188.8,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,m,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,144425,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏
10,2,4171.5,36,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,m,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,113943,–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
11,0,792.7,40,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,f,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,77069,–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
12,0,NaN,65,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,m,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,118514,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
13,0,1846.6,54,–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ,2,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,f,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,130458,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
14,0,1845.0,56,–≤—ã—Å—à–µ–µ,0,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,f,–∫–æ–º–ø–∞–Ω—å–æ–Ω,1,165127,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏

In [12]:
# —É–¥–∞–ª–∏–º –≤—Å–µ –¥—É–±–ª–∏–∫–∞—Ç—ã –º–µ—Ç–æ–¥–æ–º drop_duplicates(), –æ–±–Ω–æ–≤–ª—è—è –∏–Ω–¥–µ–∫—Å—ã
data = data.drop_duplicates().reset_index(drop = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21454 entries, 0 to 21453
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21454 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21454 non-null  int64
 3   education         21454 non-null  object
 4   education_id      21454 non-null  int64
 5   family_status     21454 non-null  object
 6   family_status_id  21454 non-null  int64
 7   gender            21454 non-null  object
 8   income_type       21454 non-null  object
 9   debt              21454 non-null  int64
 10  total_income      21454 non-null  int64
 11  purpose           21454 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 2.0+ MB

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–•–æ—Ä–æ—à–æ, —á—Ç–æ –ø—Ä–æ–∏–∑–≤–µ–ª–∏ —Ç–µ–∫—Ç—Å –≤ –Ω–∏–∂–Ω–∏–π —Ä–µ–≥–∏—Å—Ç—Ä, –∫–∞–∫ —Ä–∞–∑ —Ç–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º –º—ã —Å–º–æ–≥–ª–∏ —É—Å—Ç—Ä–∞–Ω–∏—Ç—å –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã.
    
–°–∞–º–∏ –¥—É–±–ª–∏–∫–∞—Ç—ã  –Ω–∞–º –Ω–∏ –∫ —á–µ–º—É –∏ –æ—á–µ–Ω—å –∑–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –º—ã –∏—Ö —É–¥–∞–ª–∏–ª–∏ üòä
    
</div>

In [13]:
# —á—Ç–æ–±—ã –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –Ω–∞ –æ—à–∏–±–∫–∏, —Ä–∞—Å—Å–º–æ—Ç—Ä–∏–º —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞
for row in data: 
  print(data[row].value_counts())

 0     14091
 1      4808
 2      2052
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64
204.2       5
865.0       5
935.6       5
929.1       5
1481.6      5
           ..
386310.9    1
1264.8      1
716.2       1
3681.8      1
1078.1      1
Name: days_employed, Length: 16990, dtype: int64
35    616
40    607
41    605
34    601
38    597
42    596
33    581
39    572
31    559
36    554
44    545
29    544
30    537
37    536
48    536
50    513
43    512
32    509
49    508
28    503
45    496
27    493
52    484
56    483
47    477
54    476
46    472
53    459
57    456
58    454
51    446
59    443
55    443
26    408
60    374
25    357
61    354
62    348
63    269
24    264
64    260
23    252
65    193
22    183
66    182
67    167
21    111
0     101
68     99
69     85
70     65
71     56
20     51
72     33
19     14
73      8
74      6
75      1
Name: dob_years, dtype: int64
—Å—Ä–µ–¥–Ω–µ–µ                15172
–≤—ã—Å—à–µ–µ                  5250
–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ      744
–Ω–∞—á–∞–ª—å–Ω–æ–µ                282
—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å             6
Name: education, dtype: int64
1    15172
0     5250
2      744
3      282
4        6
Name: education_id, dtype: int64
–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º          12339
–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫          4151
–Ω–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º     2810
–≤ —Ä–∞–∑–≤–æ–¥–µ                 1195
–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞             959
Name: family_status, dtype: int64
0    12339
1     4151
4     2810
3     1195
2      959
Name: family_status_id, dtype: int64
f      14174
m       7279
xna        1
Name: gender, dtype: int64
—Å–æ—Ç—Ä—É–¥–Ω–∏–∫          11084
–∫–æ–º–ø–∞–Ω—å–æ–Ω           5078
–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä           3829
–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π         1457
–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å        2
–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π            2
–≤ –¥–µ–∫—Ä–µ—Ç–µ              1
—Å—Ç—É–¥–µ–Ω—Ç                1
Name: income_type, dtype: int64
0    19713
1     1741
Name: debt, dtype: int64
142594    1070
172357     502
118514     387
150447     145
144533       3
          ...
179138       1
61724        1
99269        1
151371       1
126820       1
Name: total_income, Length: 18608, dtype: int64
—Å–≤–∞–¥—å–±–∞                                   791
–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã                     768
—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É                           765
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é                  675
–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏         661
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º                         652
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏                   651
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é     650
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è                             646
–∂–∏–ª—å–µ                                     646
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏                   638
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏    635
–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å                              633
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å–æ —Å–≤–æ–µ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é           627
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏          624
–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                      621
–ø–æ–∫—É–ø–∫–∞ —Å–≤–æ–µ–≥–æ –∂–∏–ª—å—è                      620
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                619
—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é                              607
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                606
–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è              505
–∑–∞–Ω—è—Ç—å—Å—è –≤—ã—Å—à–∏–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º              496
–∞–≤—Ç–æ–º–æ–±–∏–ª—å                                494
—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º          486
–Ω–∞ –ø–æ–∫—É–ø–∫—É –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è        478
—Å–≤–æ–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å                           478
–∞–≤—Ç–æ–º–æ–±–∏–ª–∏                                478
–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è                     471
–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è                   461
–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                460
—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º                      455
–≤—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                        452
–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                               447
–ø–æ–ª—É—á–µ–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è     446
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è                     442
–ø—Ä–æ—Ñ–∏–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                    436
–ø–æ–ª—É—á–µ–Ω–∏–µ –≤—ã—Å—à–µ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è             426
–∑–∞–Ω—è—Ç—å—Å—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º                     408
Name: purpose, dtype: int64

In [14]:
#–∑–∞–º–µ–Ω–∏–º –∑–Ω–∞—á–µ–Ω–∏—è "20" –∏ "-1" –≤ —Å—Ç–æ–ª–±—Ü–µ children
data.loc[data['children'] == 20, 'children'] = 2
data.loc[data['children'] == -1, 'children'] = 1
for row in data: 
  print(data[row].value_counts())

0    14091
1     4855
2     2128
3      330
4       41
5        9
Name: children, dtype: int64
204.2       5
865.0       5
935.6       5
929.1       5
1481.6      5
           ..
386310.9    1
1264.8      1
716.2       1
3681.8      1
1078.1      1
Name: days_employed, Length: 16990, dtype: int64
35    616
40    607
41    605
34    601
38    597
42    596
33    581
39    572
31    559
36    554
44    545
29    544
30    537
37    536
48    536
50    513
43    512
32    509
49    508
28    503
45    496
27    493
52    484
56    483
47    477
54    476
46    472
53    459
57    456
58    454
51    446
59    443
55    443
26    408
60    374
25    357
61    354
62    348
63    269
24    264
64    260
23    252
65    193
22    183
66    182
67    167
21    111
0     101
68     99
69     85
70     65
71     56
20     51
72     33
19     14
73      8
74      6
75      1
Name: dob_years, dtype: int64
—Å—Ä–µ–¥–Ω–µ–µ                15172
–≤—ã—Å—à–µ–µ                  5250
–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ      744
–Ω–∞—á–∞–ª—å–Ω–æ–µ                282
—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å             6
Name: education, dtype: int64
1    15172
0     5250
2      744
3      282
4        6
Name: education_id, dtype: int64
–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º          12339
–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫          4151
–Ω–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º     2810
–≤ —Ä–∞–∑–≤–æ–¥–µ                 1195
–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞             959
Name: family_status, dtype: int64
0    12339
1     4151
4     2810
3     1195
2      959
Name: family_status_id, dtype: int64
f      14174
m       7279
xna        1
Name: gender, dtype: int64
—Å–æ—Ç—Ä—É–¥–Ω–∏–∫          11084
–∫–æ–º–ø–∞–Ω—å–æ–Ω           5078
–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä           3829
–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π         1457
–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å        2
–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π            2
–≤ –¥–µ–∫—Ä–µ—Ç–µ              1
—Å—Ç—É–¥–µ–Ω—Ç                1
Name: income_type, dtype: int64
0    19713
1     1741
Name: debt, dtype: int64
142594    1070
172357     502
118514     387
150447     145
144533       3
          ...
179138       1
61724        1
99269        1
151371       1
126820       1
Name: total_income, Length: 18608, dtype: int64
—Å–≤–∞–¥—å–±–∞                                   791
–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã                     768
—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É                           765
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é                  675
–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏         661
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º                         652
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏                   651
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é     650
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è                             646
–∂–∏–ª—å–µ                                     646
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏                   638
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏    635
–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å                              633
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å–æ —Å–≤–æ–µ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é           627
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏          624
–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                      621
–ø–æ–∫—É–ø–∫–∞ —Å–≤–æ–µ–≥–æ –∂–∏–ª—å—è                      620
—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                619
—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é                              607
–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏                606
–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è              505
–∑–∞–Ω—è—Ç—å—Å—è –≤—ã—Å—à–∏–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º              496
–∞–≤—Ç–æ–º–æ–±–∏–ª—å                                494
—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º          486
–Ω–∞ –ø–æ–∫—É–ø–∫—É –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è        478
—Å–≤–æ–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å                           478
–∞–≤—Ç–æ–º–æ–±–∏–ª–∏                                478
–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è                     471
–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è                   461
–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                460
—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º                      455
–≤—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                        452
–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                               447
–ø–æ–ª—É—á–µ–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è     446
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è                     442
–ø—Ä–æ—Ñ–∏–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ                    436
–ø–æ–ª—É—á–µ–Ω–∏–µ –≤—ã—Å—à–µ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è             426
–∑–∞–Ω—è—Ç—å—Å—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º                     408
Name: purpose, dtype: int64

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ê –µ—Å–ª–∏ –±—ã –º—ã –ø–æ—Å–º–æ—Ç—Ä–µ–ª–∏ –Ω–∞ –¥–æ–ª—é —ç—Ç–∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π, —Ç–æ —Å–º–æ–≥–ª–∏ –±—ã –ø—Ä–∏–Ω—è—Ç—å —Ä–µ—à–µ–Ω–∏–µ –≤ —Å—Ç–æ—Ä–æ–Ω—É –∏–∑–±–∞–≤–ª–µ–Ω–∏—è –æ—Ç —ç—Ç–∏—Ö –¥–∞–Ω–Ω—ã—Ö ? 
    
</div>

**–í—ã–≤–æ–¥**

–£–¥–∞–ª–∏–ª–∏ –¥—É–±–ª–∏–∫–∞—Ç—ã, –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ—á–µ–∫ —Å–æ–∫—Ä–∞—Ç–∏–ª–æ—Å—å —Å 21525 –¥–æ 21454.
–í –∫–æ–ª–æ–Ω–∫–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–µ—Ç–µ–π –∏—Å–ø—Ä–∞–≤–∏–ª–∏ –æ—à–∏–±–æ—á–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è "20" –∏ "-1", —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–µ —Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ —á–µ–ª–æ–≤–µ–∫–æ–º –≤ –º–æ–º–µ–Ω—Ç –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è —ç—Ç–æ–π –≥—Ä–∞—Ñ—ã.

### –õ–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏—è

In [15]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫—É
from pymystem3 import Mystem
m = Mystem()

# —Å–æ–∑–¥–∞–µ–º —Å—Ç–æ–ª–±–µ—Ü, –∫—É–¥–∞ —Å–æ–∑—Ä–∞–Ω—è—é—Ç—Å—è –ª–µ–º–º—ã –¥–ª—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ—á–∫–∏
def purpose_lemmas(row):
    lemmas = m.lemmatize(row['purpose'])
    return ''.join(lemmas)
data['purpose_lemmas'] = data.apply(purpose_lemmas, axis =1)
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_lemmas
0,1,8437.7,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,f,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å–µ\n
1,1,4024.8,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,f,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—å\n
2,0,5623.4,33,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,m,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å–µ\n
3,3,4124.7,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,m,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–π –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ\n
4,0,340266.1,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,f,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±–∞\n

In [16]:
# –≤—ã–≤–µ–¥–µ–º –ø–æ–ª–Ω—ã–π —Å–ø–∏—Å–æ–∫ –ª–µ–º–º –¥–ª—è –∫–æ–ª–æ–Ω–∫–∏ purpose
from collections import Counter
Counter(data['purpose_lemmas'])

Counter({'–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å–µ\n': 646,
         '–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—å\n': 461,
         '–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–π –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ\n': 460,
         '—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±–∞\n': 765,
         '–æ–ø–µ—Ä–∞—Ü–∏—è —Å –∂–∏–ª—å–µ\n': 652,
         '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ\n': 447,
         '–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±–∞\n': 768,
         '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å–µ –¥–ª—è —Å–µ–º—å—è\n': 638,
         '–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å\n': 621,
         '–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å\n': 661,
         '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å\n': 606,
         '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—ã–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å\n': 635,
         '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å\n': 633,
         '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å\n': 619,
         '–Ω–∞ –ø–æ–∫—É–ø–∫–∞ –ø–æ–¥–µ—Ä–∂–∞—Ç—å –∞–≤—Ç–æ–º–æ–±–∏–ª—å\n': 478,
         '–Ω–∞ –ø–æ–∫—É–ø–∫–∞ —Å–≤–æ–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å\n': 505,
         '–æ–ø–µ—Ä–∞—Ü–∏—è —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–∏–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å\n': 650,
         '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å\n': 624,
         '–∂–∏–ª—å–µ\n': 646,
         '–æ–ø–µ—Ä–∞—Ü–∏—è —Å–æ —Å–≤–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å\n': 627,
         '–∞–≤—Ç–æ–º–æ–±–∏–ª—å\n': 972,
         '–∑–∞–Ω–∏–º–∞—Ç—å—Å—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ\n': 408,
         '—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å\n': 486,
         '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ\n': 442,
         '—Å–≤–∞–¥—å–±–∞\n': 791,
         '–ø–æ–ª—É—á–µ–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–π –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ\n': 446,
         '–ø–æ–∫—É–ø–∫–∞ —Å–≤–æ–π –∂–∏–ª—å–µ\n': 620,
         '–æ–ø–µ—Ä–∞—Ü–∏—è —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å\n': 675,
         '–ø–æ–ª—É—á–µ–Ω–∏–µ –≤—ã—Å–æ–∫–∏–π –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ\n': 426,
         '—Å–≤–æ–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å\n': 478,
         '—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª—å\n': 455,
         '–ø—Ä–æ—Ñ–∏–ª—å–Ω—ã–π –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ\n': 436,
         '–≤—ã—Å–æ–∫–∏–π –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ\n': 452,
         '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å–µ –¥–ª—è —Å–¥–∞—á–∞\n': 651,
         '–Ω–∞ –ø–æ–∫—É–ø–∫–∞ –∞–≤—Ç–æ–º–æ–±–∏–ª—å\n': 471,
         '—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å–µ\n': 607,
         '–∑–∞–Ω–∏–º–∞—Ç—å—Å—è –≤—ã—Å–æ–∫–∏–π –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ\n': 496})

**–í—ã–≤–æ–¥**

–°–æ–∑–¥–∞–Ω–∞ –∫–æ–ª–æ–Ω–∫–∞, —Å–æ–¥–µ—Ä–∂–∞—â–∞—è –≤—Å–µ –ª–µ–º–º–∞—Ç–∏–∑–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ —Ü–µ–ª–∏ –≤–∑—è—Ç–∏—è –∫—Ä–µ–¥–∏—Ç–æ–≤.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–ö–∞—Ç–µ–≥–æ—Ä–∏–∏ –∫—Ä–µ–¥–∏—Ç–æ–≤ –æ–ø—Ä–µ–¥–∏–ª–∏–ª–∏ –≤–µ—Ä–Ω–æ üëç
    
</div>

### –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

In [17]:
# –ø—Ä–æ—Å–º–∞—Ç—Ä–∏–≤–∞–µ–º —Å–ø–∏—Å–æ–∫ –≤—Å–µ—Ö –ª–µ–º–º –∏ –≤—Ä—É—á–Ω—É—é –≤—ã–¥–µ–ª—è–µ–º –Ω–µ—Å–∫–æ–ª—å–∫–æ –∫–∞—Ç–µ–≥–æ—Ä–∏–π
# —Å–æ–∑–¥–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç –ø—Ä–∏–Ω–∏–º–∞—Ç—å –Ω–∞ –≤—Ö–æ–¥–µ –ª–µ–º–º–∞—Ç–∏–∑–∏—Ä–æ–≤–Ω–Ω—É—é —Ü–µ–ª—å –∫—Ä–µ–¥–∏—Ç–∞ –∏ –≤—ã–¥–∞–≤–∞—Ç—å –∫–∞—Ç–µ–≥–æ—Ä–∏—é,
# –∫ –∫–æ—Ç–æ—Ä–æ–π —ç—Ç–∞ —Ü–µ–ª—å –æ—Ç–Ω–æ—Å–∏—Ç—Å—è

def purpose_group(row):
    lem=row['purpose_lemmas']
    if '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å' in lem or '–∂–∏–ª—å–µ' in lem:
        return '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å'
    elif '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ' in lem:
        return '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ'
    elif '—Å–≤–∞–¥—å–±–∞' in lem: 
        return '—Å–≤–∞–¥—å–±–∞'
    elif '–∞–≤—Ç–æ–º–æ–±–∏–ª—å' in lem:
        return '–∞–≤—Ç–æ–º–æ–±–∏–ª—å'
    else:
        return "–ø—Ä–æ—á–µ–µ"
    
data['purpose_lemmas'] = data.apply(purpose_group, axis=1)
data.head(10)
data['purpose_lemmas'].value_counts().head()

–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å    10811
–∞–≤—Ç–æ–º–æ–±–∏–ª—å       4306
–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ      4013
—Å–≤–∞–¥—å–±–∞          2324
Name: purpose_lemmas, dtype: int64

**–í—ã–≤–æ–¥**

–í—Å–µ —Ü–µ–ª–∏ –≤–∑—è—Ç–∏—è –∫—Ä–µ–¥–∏—Ç–∞ –º–æ–∂–Ω–æ –ø–æ–¥–µ–ª–∏—Ç—å –Ω–∞ 4 –∫–∞—Ç–µ–≥–æ—Ä–∏–∏: –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å, –∞–≤—Ç–æ–º–æ–±–∏–ª—å, –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –∏ —Å–≤–∞–¥—å–±–∞

## –®–∞–≥ 3. –û—Ç–≤–µ—Ç—å—Ç–µ –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã

- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [18]:
# —Å–æ–∑–¥–∞–¥–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –¥–µ—Ç–µ–π
# –∏ –∫–æ–ª–æ–Ω–∫–∞–º–∏ sum (–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–æ–ª–∂–Ω–∏–∫–æ–≤) –∏ count (–≤—Å–µ –ª—é–¥–∏, –≤–∑—è–≤—à–∏–µ –∫—Ä–µ–¥–∏—Ç)
child_data = data.pivot_table(index = ['children'], values = 'debt', aggfunc = ['sum', 'count']).reset_index()      
child_data

  children   sum  count
            debt   debt
0        0  1063  14091
1        1   445   4855
2        2   202   2128
3        3    27    330
4        4     4     41
5        5     0      9

In [19]:
# –¥–æ–±–∞–≤–∏–º –∫–æ–ª–æ–Ω–∫—É —Å –ø—Ä–æ—Ü–µ–Ω—Ç–æ–º –¥–æ–ª–∂–Ω–∏–∫–æ–≤
child_data['debts_by_children, %'] = child_data['sum'] / child_data['count'] *100
child_data

  children   sum  count debts_by_children, %
            debt   debt
0        0  1063  14091             7.543822
1        1   445   4855             9.165808
2        2   202   2128             9.492481
3        3    27    330             8.181818
4        4     4     41             9.756098
5        5     0      9             0.000000

In [20]:
# –ø–æ—Å—á–∏—Ç–∞–µ–º –æ–±—â–∏–π –ø—Ä–æ—Ü–µ–Ω—Ç –¥–æ–ª–∂–Ω–∏–∫–æ–≤ –¥–ª—è –≤—Å–µ—Ö –ª—é–¥–µ–π, —É –∫–æ–≥–æ –µ—Å—Ç—å —Ö–æ—Ç—è –±—ã –æ–¥–∏–Ω —Ä–µ–±–µ–Ω–æ–∫
children_data_debt = child_data[child_data['children'] > 0]['sum'].sum()
children_data_total = child_data[child_data['children'] > 0]['count'].sum()
children_data = children_data_debt / children_data_total * 100
children_data

debt    9.208203
dtype: float64

**–í—ã–≤–æ–¥**

–ü—Ä–æ—Ü–µ–Ω—Ç –¥–æ–ª–∂–Ω–∏–∫–æ–≤ —Å—Ä–µ–¥–∏ —Ç–µ—Ö, —É –∫–æ–≥–æ –Ω–µ—Ç –¥–µ—Ç–µ–π - 7.5 %
–ü—Ä–æ—Ü–µ–Ω—Ç –¥–æ–ª–∂–Ω–∏–∫–æ–≤ —Å—Ä–µ–¥–∏ —Ç–µ—Ö, —É –∫–æ–≥–æ –µ—Å—Ç—å —Ö–æ—Ç—è –±—ã –æ–¥–∏–Ω —Ä–µ–±–µ–Ω–æ–∫ - 9.2 %

–°–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ, –ª—é–¥–∏ –±–µ–∑ –¥–µ—Ç–µ–π —á–∞—â–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã –≤ —Å—Ä–æ–∫, –Ω–µ–∂–µ–ª–∏ –ª—é–¥–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö –µ—Å—Ç—å —Ö–æ—Ç—è –±—ã –æ–¥–∏–Ω —Ä–µ–±–µ–Ω–æ–∫.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–í–µ—Ä–Ω–æ üëç
    
</div>

- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [21]:
# —Å–æ–∑–¥–∞–¥–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –ø–æ —Å–µ–º–µ–π–Ω–æ–º—É –ø–æ–ª–æ–∂–µ–Ω–∏—é –∏ –∫–æ–ª–æ–Ω–∫–∞–º–∏ sum (–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–æ–ª–∂–Ω–∏–∫–æ–≤) 
# –∏ count (–≤—Å–µ –ª—é–¥–∏, –≤–∑—è–≤—à–∏–µ –∫—Ä–µ–¥–∏—Ç)
family_data = data.pivot_table(index = ['family_status'], values = 'debt', aggfunc = ['sum', 'count']).reset_index()
family_data

           family_status  sum  count
                         debt   debt
0              –≤ —Ä–∞–∑–≤–æ–¥–µ   85   1195
1         –≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞   63    959
2       –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫  388   4151
3        –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º  931  12339
4  –Ω–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º  274   2810

In [22]:
# –¥–æ–±–∞–≤–∏–º –∫–æ–ª–æ–Ω–∫—É —Å –ø—Ä–æ—Ü–µ–Ω—Ç–æ–º –¥–æ–ª–∂–Ω–∏–∫–æ–≤
family_data['debts_by_family_status, %'] = family_data['sum'] / family_data['count'] *100
family_data

           family_status  sum  count debts_by_family_status, %
                         debt   debt
0              –≤ —Ä–∞–∑–≤–æ–¥–µ   85   1195                  7.112971
1         –≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞   63    959                  6.569343
2       –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫  388   4151                  9.347145
3        –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º  931  12339                  7.545182
4  –Ω–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º  274   2810                  9.750890

**–í—ã–≤–æ–¥**

–ù–µ–∂–µ–Ω–∞—Ç—ã–µ/–Ω–µ–∑–∞–º—É–∂–Ω–∏–µ –∏ —Å–æ—Å—Ç–æ—è—â–∏–µ –≤ –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–æ–º –±—Ä–∞–∫–µ –ª—é–¥–∏ —á–∞—â–µ –≤—Å–µ–≥–æ —è–≤–ª—è—é—Ç—Å—è –¥–æ–ª–∂–Ω–∏–∫–∞–º–∏ –ø–æ –∫—Ä–µ–¥–∏—Ç—É - 9.75% –∏ 9.35%  –¥–æ–ª–∂–Ω–∏–∫–æ–≤ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ.
–ñ–µ–Ω–∞—Ç—ã–µ/–∑–∞–º—É–∂–Ω–∏–µ –∏ –ª—é–¥–∏ –≤ —Ä–∞–∑–≤–æ–¥–µ –Ω–µ–º–Ω–æ–≥–æ —á–∞—â–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã - 7.55% –∏ 7.11%  –¥–æ–ª–∂–Ω–∏–∫–æ–≤

–†–µ–∂–µ –≤—Å–µ–≥–æ –¥–æ–ª–∂–Ω–∏–∫–∞–º–∏ —è–≤–ª—è—é—Ç—Å—è –≤–¥–æ–≤—Ü—ã –∏ –≤–¥–æ–≤—ã - 6.57% –¥–æ–ª–∂–Ω–∏–∫–æ–≤

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–í —Ç–æ—á–∫—É üëç
    
–û–±—Ä–∞—Ç–∏ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –Ω–∞—à–∏ –¥–µ–π—Å—Ç–≤–∏—è –ø–æ–≤—Ç–æ—Ä—è—é—Ç—Å—è —Å —Ç–æ—á–∫–∏ –∑—Ä–µ–Ω–∏—è —Ä–∞—Å—á–µ—Ç–æ–≤.
    
–≠—Ç–æ –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ –º—ã –º–æ–∂–µ–º —Å–æ–∑–¥–∞—Ç—å —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –ø–æ—Å—Ç–æ—è–Ω–Ω—ã—Ö —Ä–∞—Å—á–µ—Ç–æ–≤. –¢–µ–º —Å–∞–º—ã–º –º—ã —Å–º–æ–∂–µ–º –æ–ø—Ç–∏–º–∏–∑–∏—Ä–æ–≤–∞—Ç—å —Å–≤–æ–π –∫–æ–¥ üòä
    
</div>

- –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [23]:
# –¥–ª—è —Ä–∞–∑–¥–µ–ª–µ–Ω–∏—è –Ω–∞ —É—Ä–æ–≤–Ω–∏ –¥–æ—Ö–æ–¥–∞ —Ä–µ—à–∏–ª–∞ –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –∫–≤–∞–Ω—Ç–∏–ª—è–º–∏
# –Ω–∞—Ö–æ–¥–∏–º –∫–≤–∞–Ω—Ç–∏–ª—å, –¥–æ –∫–æ—Ç–æ—Ä–æ–≥–æ –±—É–¥–µ—Ç –Ω–∏–∑–∫–∏–π –¥–æ—Ö–æ–¥
data['total_income'].quantile(0.25)

107623.0

In [24]:
# –Ω–∞—Ö–æ–¥–∏–º –∫–≤–∞–Ω—Ç–∏–ª—å, –ø–æ—Å–ª–µ –∫–æ—Ç–æ—Ä–æ–≥–æ –±—É–¥–µ—Ç –≤—ã—Å–æ–∫–∏–π –¥–æ—Ö–æ–¥
# —Å—Ä–µ–¥–Ω–∏–π –¥–æ—Ö–æ–¥ –º–µ–∂–¥—É –Ω–∏–º–∏
data['total_income'].quantile(0.75)

195820.25

In [25]:
# –¥–µ–ª–∏–º –¥–∞–Ω–Ω—ã–µ –≤ –∫–æ–ª–æ–Ω–∫–µ total_income –Ω–∞ –Ω–∏–∑–∫–∏–π, —Å—Ä–µ–¥–Ω–∏–π –∏ –≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–Ω–∏ –¥–æ—Ö–æ–¥–∞

def income_level(row):
    if row['total_income'] <= 107623.0 :
        return '–Ω–∏–∑–∫–∏–π'
    elif 107623.0  < row['total_income'] < 195820.25:
        return '—Å—Ä–µ–¥–Ω–∏–π'
    else:
        return '–≤—ã—Å–æ–∫–∏–π'
data['total_income_status'] = data.apply(income_level, axis =1)
data.head(10)
# —Å–º–æ—Ç—Ä–∏–º –æ–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —á–µ–ª–æ–≤–µ–∫ –ø–æ –∫–∞–∂–¥–æ–º—É —É—Ä–æ–≤–Ω—é –¥–æ—Ö–æ–¥–∞
data['total_income_status'].value_counts()

—Å—Ä–µ–¥–Ω–∏–π    10726
–≤—ã—Å–æ–∫–∏–π     5364
–Ω–∏–∑–∫–∏–π      5364
Name: total_income_status, dtype: int64

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–û—Ç–ª–∏—á–Ω—ã–π —Å–ø–æ—Å–æ–± –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ —É—Ä–æ–≤–Ω—é –¥–æ—Ö–æ–¥–æ–≤ üëç
    
</div>

In [26]:
# —Å–æ–∑–¥–∞–¥–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –ø–æ —É—Ä–æ–≤–Ω—é –¥–æ—Ö–æ–¥–∞ –∏ –∫–æ–ª–æ–Ω–∫–∞–º–∏ sum (–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–æ–ª–∂–Ω–∏–∫–æ–≤) 
# –∏ count (–≤—Å–µ –ª—é–¥–∏, –≤–∑—è–≤—à–∏–µ –∫—Ä–µ–¥–∏—Ç)
total_income_data = data.pivot_table(index = ['total_income_status'], values = 'debt', aggfunc = ['sum', 'count']).reset_index()
total_income_data

  total_income_status  sum  count
                      debt   debt
0             –≤—ã—Å–æ–∫–∏–π  383   5364
1              –Ω–∏–∑–∫–∏–π  427   5364
2             —Å—Ä–µ–¥–Ω–∏–π  931  10726

In [27]:
# –¥–æ–±–∞–≤–∏–º –∫–æ–ª–æ–Ω–∫—É —Å –ø—Ä–æ—Ü–µ–Ω—Ç–æ–º –¥–æ–ª–∂–Ω–∏–∫–æ–≤
total_income_data['debts_by_total_income, %'] = total_income_data['sum'] / total_income_data['count'] *100
total_income_data

  total_income_status  sum  count debts_by_total_income, %
                      debt   debt
0             –≤—ã—Å–æ–∫–∏–π  383   5364                 7.140194
1              –Ω–∏–∑–∫–∏–π  427   5364                 7.960477
2             —Å—Ä–µ–¥–Ω–∏–π  931  10726                 8.679843

**–í—ã–≤–æ–¥**

–õ—é–¥–∏ —Å –≤—ã—Å–æ–∫–∏–º —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ —Ä–µ–∂–µ –≤—Å–µ–≥–æ –æ–∫–∞–∑—ã–≤–∞—é—Ç—Å—è –¥–æ–ª–∂–Ω–∏–∫–∞–º–∏ –ø–æ –∫—Ä–µ–¥–∏—Ç—É - 7.14% –¥–æ–ª–∂–Ω–∏–∫–æ–≤

–õ—é–¥–∏ —Å –Ω–∏–∑–∫–∏–º —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –Ω–µ–º–Ω–æ–≥–æ —á–∞—â–µ –æ–∫–∞–∑—ã–≤–∞—é—Ç—Å—è –¥–æ–ª–∂–Ω–∏–∫–∞–º–∏ - 7.96% –¥–æ–ª–∂–Ω–∏–∫–æ–≤

–ß–∞—â–µ –≤—Å–µ–≥–æ –¥–æ–ª–∂–Ω–∏–∫–∞–º–∏ –æ–∫–∞–∑—ã–≤–∞—é—Ç—Å—è –ª—é–¥–∏ —Å–æ —Å—Ä–µ–¥–Ω–∏–º —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ - 8.68% –¥–æ–ª–∂–Ω–∏–∫–æ–≤

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–í–µ—Ä–Ω–æ üëç
    
–í —Ç–æ–º —á–∏—Å–ª–µ –º–æ–∂–Ω–æ –±—ã–ª–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å —Å –ø–æ–º–æ—â—å—é –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏ –¥–∞–Ω–Ω—ã `groupby`
    
</div>

- –ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?

In [28]:
# —Å–æ–∑–¥–∞–¥–∏–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –ø–æ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –∏ –∫–æ–ª–æ–Ω–∫–∞–º–∏ sum (–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–æ–ª–∂–Ω–∏–∫–æ–≤) 
# –∏ count (–≤—Å–µ –ª—é–¥–∏, –≤–∑—è–≤—à–∏–µ –∫—Ä–µ–¥–∏—Ç)
purpose_data = data.pivot_table(index=['purpose_lemmas'], values='debt', aggfunc = ['sum', 'count']).reset_index()
purpose_data

  purpose_lemmas  sum  count
                 debt   debt
0     –∞–≤—Ç–æ–º–æ–±–∏–ª—å  403   4306
1   –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å  782  10811
2    –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ  370   4013
3        —Å–≤–∞–¥—å–±–∞  186   2324

In [29]:
# –¥–æ–±–∞–≤–∏–º –∫–æ–ª–æ–Ω–∫—É —Å –ø—Ä–æ—Ü–µ–Ω—Ç–æ–º –¥–æ–ª–∂–Ω–∏–∫–æ–≤
purpose_data['debts_by_purpose, %'] = purpose_data['sum'] / purpose_data['count'] *100
purpose_data

  purpose_lemmas  sum  count debts_by_purpose, %
                 debt   debt
0     –∞–≤—Ç–æ–º–æ–±–∏–ª—å  403   4306            9.359034
1   –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å  782  10811            7.233373
2    –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ  370   4013            9.220035
3        —Å–≤–∞–¥—å–±–∞  186   2324            8.003442

**–í—ã–≤–æ–¥**

–ß–∞—â–µ –≤—Å–µ–≥–æ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç, –≤–∑—è—Ç—ã–π –Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é - 7.23% –¥–æ–ª–∂–Ω–∏–∫–æ–≤

–ù–µ–º–Ω–æ–≥–æ —Ä–µ–∂–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã, –≤–∑—è—Ç—ã–µ –Ω–∞ —Å–≤–∞–¥—å–±—É - 8% –¥–æ–ª–∂–Ω–∏–∫–æ–≤

–†–µ–∂–µ –≤—Å–µ–≥–æ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç—Å—è –∫—Ä–µ–¥–∏—Ç, –≤–∑—è—Ç—ã–π –Ω–∞ –∞–≤—Ç–æ–º–æ–±–∏–ª—å –∏ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ - 9.36% –∏ 9.22% –¥–æ–ª–∂–Ω–∏–∫–æ–≤

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–í —Ç–æ—á–∫—É üëç
    
–í —Ç–æ–º —á–∏—Å–ª–µ –º–æ–∂–Ω–æ –±—ã–ª–æ –±—ã –ø–æ—Å—Ç—Ä–æ–∏—Ç—å –≥—Ä–∞—Ñ–∏–∫–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ `hist` 
    
–ö–∞–∫ —Ä–∞–∑ —Å–ø–æ—Å–æ–±—ã –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏, –º—ã —É–∂–µ –±—É–¥–µ–º –ø—Ä–æ—Ö–æ–¥–∏—Ç—å –≤ —Å–ª–µ–¥—É—é—â–µ–º –ø—Ä–æ–µ–∫—Ç–µ üòä
    
</div>

## –®–∞–≥ 4. –û–±—â–∏–π –≤—ã–≤–æ–¥

–ù–∞–ª–∏—á–∏–µ –¥–µ—Ç–µ–π —Å–∫–æ—Ä–µ–µ –Ω–µ–≥–∞—Ç–∏–≤–Ω–æ –æ—Ç—Ä–∞–∂–∞–µ—Ç—Å—è –Ω–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ –¥–æ–ª–∂–Ω–∏–∫–æ–≤ –ø–æ –∫—Ä–µ–¥–∏—Ç—É. –ë–µ–∑–¥–µ—Ç–Ω—ã–µ —á–∞—â–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã –≤ —Å—Ä–æ–∫, –Ω–µ–∂–µ–ª–∏ –ª—é–¥–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö –µ—Å—Ç—å —Ö–æ—Ç—è –±—ã –æ–¥–∏–Ω —Ä–µ–±–µ–Ω–æ–∫.


–ù–µ–∂–µ–Ω–∞—Ç—ã–µ/–Ω–µ–∑–∞–º—É–∂–Ω–∏–µ –∏ —Å–æ—Å—Ç–æ—è—â–∏–µ –≤ –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–æ–º –±—Ä–∞–∫–µ –ª—é–¥–∏ —á–∞—â–µ –≤—Å–µ–≥–æ —è–≤–ª—è—é—Ç—Å—è –¥–æ–ª–∂–Ω–∏–∫–∞–º–∏ –ø–æ –∫—Ä–µ–¥–∏—Ç—É. –ñ–µ–Ω–∞—Ç—ã–µ/–∑–∞–º—É–∂–Ω–∏–µ –∏ –ª—é–¥–∏ –≤ —Ä–∞–∑–≤–æ–¥–µ –Ω–µ–º–Ω–æ–≥–æ —á–∞—â–µ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç—ã.
–†–µ–∂–µ –≤—Å–µ–≥–æ –¥–æ–ª–∂–Ω–∏–∫–∞–º–∏ —è–≤–ª—è—é—Ç—Å—è –≤–¥–æ–≤—Ü—ã –∏ –≤–¥–æ–≤—ã.


–ß–∞—â–µ –≤—Å–µ–≥–æ –¥–æ–ª–∂–Ω–∏–∫–∞–º–∏ –æ–∫–∞–∑—ã–≤–∞—é—Ç—Å—è –ª—é–¥–∏ —Å–æ —Å—Ä–µ–¥–Ω–∏–º —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞.
–õ—é–¥–∏ —Å –Ω–∏–∑–∫–∏–º —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –Ω–µ–º–Ω–æ–≥–æ —á–∞—â–µ –æ–∫–∞–∑—ã–≤–∞—é—Ç—Å—è –¥–æ–ª–∂–Ω–∏–∫–∞–º–∏.
–õ—é–¥–∏ —Å –≤—ã—Å–æ–∫–∏–º —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ —Ä–µ–∂–µ –≤—Å–µ–≥–æ –æ–∫–∞–∑—ã–≤–∞—é—Ç—Å—è –¥–æ–ª–∂–Ω–∏–∫–∞–º–∏ –ø–æ –∫—Ä–µ–¥–∏—Ç—É. 


–í—Å–µ —Ü–µ–ª–∏ –≤–∑—è—Ç–∏—è –∫—Ä–µ–¥–∏—Ç–∞ –º–æ–∂–Ω–æ –ø–æ–¥–µ–ª–∏—Ç—å –Ω–∞ 4 –∫–∞—Ç–µ–≥–æ—Ä–∏–∏: –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å, –∞–≤—Ç–æ–º–æ–±–∏–ª—å, –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ –∏ —Å–≤–∞–¥—å–±–∞.
–ß–∞—â–µ –≤—Å–µ–≥–æ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –∫—Ä–µ–¥–∏—Ç, –≤–∑—è—Ç—ã–π –Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é –∏ —Å–≤–∞–¥—å–±—ã.
–†–µ–∂–µ –≤—Å–µ–≥–æ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç—Å—è –∫—Ä–µ–¥–∏—Ç, –≤–∑—è—Ç—ã–π –Ω–∞ –∞–≤—Ç–æ–º–æ–±–∏–ª—å –∏ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ.

<div class="alert alert-success">
<b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞:</b>

–í—ã–≤–æ–¥—ã –ø–æ–Ω—è—Ç–Ω—ã –∏ –ª–æ–≥–∏—á–Ω—ã, –∞ —Å–∞–º–æ–µ –≥–ª–∞–≤–Ω–æ–µ –ø–æ–¥–∫—Ä–µ–ø–ª–µ–Ω—ã –≤—ã—è–≤–ª–µ–Ω–Ω—ã–º–∏ —Ñ–∞–∫—Ç–∞–º–∏.
       
–í —Ü–µ–ª–æ–º —Å–∞–º –ø—Ä–æ–µ–∫—Ç –≤—ã–ø–æ–ª–Ω–µ–Ω –Ω–∞ —Ö–æ—Ä–æ—à–µ–º —É—Ä–æ–≤–Ω–µ! –ù–∞ –ø—Ä–æ—Ç—è–∂–µ–Ω–∏–∏ –≤—Å–µ–π —Ä–∞–±–æ—Ç—ã —á—É–≤—Å—Ç–≤—É–µ—Ç—Å—è –≥–ª—É–±–∏–Ω–∞ –ø—Ä–æ—Ä–∞–±–æ—Ç–∫–∏ –∑–∞–¥–∞—á–∏ –∏ —ç—Ç–æ –±–µ–∑—É—Å–ª–æ–≤–Ω—ã–π –ø–ª—é—Å –¥–ª—è –Ω–∞—Å.
    
–•–æ—á–µ—Ç—Å—è –æ—Ç–º–µ—Ç–∏—Ç—å, —á—Ç–æ –º—ã —É–∑–Ω–∞–ª–∏ –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –º–Ω–æ–≥–æ –Ω–æ–≤–æ–≥–æ –≤ —ç—Ç–æ–º –ø—Ä–æ–µ–∫—Ç–µ –∏ —Å —É–≤–µ—Ä–µ–Ω–Ω–æ—Å—Ç—å—é –º–æ–∂–µ–º –¥–≤–∏–≥–∞—Ç—å—Å—è –¥–∞–ª—å—à–µ. –ù–∞ —á—Ç–æ —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –æ–±—Ä–∞—â–∞—Ç—å –≤–Ω–∏–º–∞–Ω–∏–µ —Å—Ä–∞–∑—É —Å —Å–∞–º–æ–≥–æ —Å—Ç–∞—Ä—Ç–∞ —Ç–∞–∫ —Å–∫–∞–∑–∞—Ç—å, –∞ –∏–º–µ–Ω–Ω–æ –Ω–∞ –ø–æ–≤—Ç–æ—Ä—è–µ–º–æ—Å—Ç—å –∫–æ–¥–∞. –ï—Å–ª–∏ –Ω–∞—à–∏ –¥–µ–π—Å—Ç–≤–∏—è –Ω–∞—á–∏–Ω–∞—é—Ç –ø–æ–≤—Ç–æ—Ä—è—Ç—å—Å—è –±–æ–ª–µ–µ 2-—Ö —Ä–∞–∑, —Ç–æ –∏–º–µ–µ—Ç —Å–º—ã—Å–ª –∑–∞–¥—É–º–∞—Ç—å—Å—è –Ω–∞–¥: 
    
- –≤–Ω–µ–¥—Ä–µ–Ω–∏–µ–º —Ü–∏–∫–ª–∞ 
- –≤–Ω–µ–¥—Ä–µ–Ω–∏–µ–º —Ñ—É–Ω–∫—Ü–∏–∏
- –≤–Ω–µ–¥—Ä–µ–Ω–∏–µ–º –∫–æ–º–±–∏–Ω–∞—Ü–∏–∏ —Ü–∏–∫–ª + —Ñ—É–Ω–∫—Ü–∏—è
    
–¢–∞–∫–∏–µ –≤–µ—â–∏ –º–æ–≥—É—Ç —Å—Ä–∞–∑—É –Ω–µ –±—Ä–æ—Å–∞—Ç—å—Å—è –≤ –≥–ª–∞–∑–∞, –Ω–æ –ø–æ—Å—Ç–µ–ø–µ–Ω–Ω–æ –º—ã –ø—Ä–∏–¥—ë–º –∫ —Ç–∞–∫–æ–º—É –ø–æ–¥—Ö–æ–¥—É üòä
    
–ü–æ–∑–¥—Ä–∞–≤–ª—è—é —Å —É—Å–ø–µ—à–Ω—ã–º –∑–∞–≤–µ—Ä—à–µ–Ω–∏–µ–º –ø—Ä–æ–µ–∫—Ç–∞ üòäüëç
    
–ò –∂–µ–ª–∞—é —É—Å–ø–µ—Ö–æ–≤ –≤ –Ω–æ–≤—ã—Ö —Ä–∞–±–æ—Ç–∞—Ö üòä
    
**[–æ–±—â–∏–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π]** –ù–µ —Å—Ç–æ–∏—Ç –∑–∞–±—ã–≤–∞—Ç—å –ø—Ä–æ –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏–µ —Å–≤–æ–µ–π —Ä–∞–±–æ—Ç—ã, —ç—Ç–æ –≤–∞–∂–Ω—ã–π —Ç–∞–∫–æ–π –∂–µ –≤–∞–∂–Ω—ã–π —ç—Ç–∞–ø. –†–µ–∫–æ–º–µ–Ω–¥—É—é ¬´–Ω–µ —Å—Ç–µ—Å–Ω—è—Ç—å—Å—è¬ª –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —è—á–µ–π–∫–∏ —Ç–∏–ø–∞ **markdown** —Ç–∞–º –≥–¥–µ –Ω–∞–º –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –æ—Ç–æ–±—Ä–∞–∑–∏—Ç—å —Å–≤–æ–∏ —Ä–∞–∑–º—ã—à–ª–µ–Ω–∏—è, –≤ —Ç–æ–º —á–∏—Å–ª–µ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–π —Å—Ç–∏–ª–∏–∑–∞—Ü–∏–∏.
    
https://sqlbak.com/blog/jupyter-notebook-markdown-cheatsheet
    
    
</div>

## –ß–µ–∫-–ª–∏—Å—Ç –≥–æ—Ç–æ–≤–Ω–æ—Å—Ç–∏ –ø—Ä–æ–µ–∫—Ç–∞

–ü–æ—Å—Ç–∞–≤—å—Ç–µ 'x' –≤ –≤—ã–ø–æ–ª–Ω–µ–Ω–Ω—ã—Ö –ø—É–Ω–∫—Ç–∞—Ö. –î–∞–ª–µ–µ –Ω–∞–∂–º–∏—Ç–µ Shift+Enter.

- [x]  –æ—Ç–∫—Ä—ã—Ç —Ñ–∞–π–ª;
- [ ]  —Ñ–∞–π–ª –∏–∑—É—á–µ–Ω;
- [ ]  –æ–ø—Ä–µ–¥–µ–ª–µ–Ω—ã –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è;
- [ ]  –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è;
- [ ]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã;
- [ ]  –æ–ø–∏—Å–∞–Ω—ã –≤–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã –ø–æ—è–≤–ª–µ–Ω–∏—è –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö;
- [ ]  –æ–±—ä—è—Å–Ω–µ–Ω–æ, –ø–æ –∫–∞–∫–æ–º—É –ø—Ä–∏–Ω—Ü–∏–ø—É –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –ø—Ä–æ–ø—É—Å–∫–∏;
- [ ]  –∑–∞–º–µ–Ω–µ–Ω –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –Ω–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π;
- [ ]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–æ–π –º–µ—Ç–æ–¥ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –∏–∑–º–µ–Ω–µ–Ω–∏—è —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö –∏ –ø–æ—á–µ–º—É;
- [ ]  —É–¥–∞–ª–µ–Ω—ã –¥—É–±–ª–∏–∫–∞—Ç—ã;
- [ ]  –µ—Å—Ç—å –ø–æ—è—Å–Ω–µ–Ω–∏–µ, –∫–∞–∫–æ–π –º–µ—Ç–æ–¥ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –ø–æ–∏—Å–∫–∞ –∏ —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤;
- [ ]  –æ–ø–∏—Å–∞–Ω—ã –≤–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã –ø–æ—è–≤–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö;
- [ ]  –≤—ã–¥–µ–ª–µ–Ω—ã –ª–µ–º–º—ã –≤ –∑–Ω–∞—á–µ–Ω–∏—è—Ö —Å—Ç–æ–ª–±—Ü–∞ —Å —Ü–µ–ª—è–º–∏ –ø–æ–ª—É—á–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞;
- [ ]  –æ–ø–∏—Å–∞–Ω –ø—Ä–æ—Ü–µ—Å—Å –ª–µ–º–º–∞—Ç–∏–∑–∞—Ü–∏–∏;
- [ ]  –¥–∞–Ω–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∏—Ä–æ–≤–∞–Ω—ã;
- [ ]  –µ—Å—Ç—å –æ–±—ä—è—Å–Ω–µ–Ω–∏–µ –ø—Ä–∏–Ω—Ü–∏–ø–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö;
- [ ]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [ ]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [ ]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?";
- [ ]  –µ—Å—Ç—å –æ—Ç–≤–µ—Ç –Ω–∞ –≤–æ–ø—Ä–æ—Å: "–ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?";
- [ ]  –≤ –∫–∞–∂–¥–æ–º —ç—Ç–∞–ø–µ –µ—Å—Ç—å –≤—ã–≤–æ–¥—ã;
- [ ]  –µ—Å—Ç—å –æ–±—â–∏–π –≤—ã–≤–æ–¥.